* {
  box-sizing: border-box;
}

body {
  font: 16px/1.62 'Roboto';
  color: #6F7CB2;
  background: #ffffff;
  margin: 0;
}

body.nav-active {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #091133;
  margin: 0 0 21px;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  color: #091133;
  margin: 0 0 10px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  color: #091133;
  margin: 0 0 5px;
}

p {
  margin: 0;
  padding-bottom: 10px;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?cxskof');
  src: url('fonts/icomoon.eot?cxskof#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cxskof') format('truetype'),
    url('fonts/icomoon.woff?cxskof') format('woff'),
    url('fonts/icomoon.svg?cxskof#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inkedIn:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-youtube:before {
  content: "\e904";
}


.container {
  max-width: 1148px;
  padding: 0 20px;
  margin: 0px auto;
}

.btn {
  min-width: 150px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 2px 20px;
  border: 2px solid #091133;
  border-radius: 2px;
  text-decoration: none;
  color: #ffffff;
  background-color: #111B47;
}

.btn.btn-max {
  min-width: 189px;
}

.btn.btn-lg {
  font-size: 16px;
  padding: 3px 35px;
  margin: 0 24px 10px 0;
  min-width: 188px;
}

.btn.btn-sm {
  font-size: 12px;
}

.btn.btn-header {
  min-width: 160px;
}

.btn.btn-footer {
  min-width: 109px;
  padding: 2px;
  margin: 0;
}

.btn:hover {
  transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s, border-color .35s;
  color: #091133;
  background-color: #E7ECFF;
}

.btn-empty {
  color: #091133;
  background-color: #E7ECFF;
  opacity: 0.5;
}

.btn-empty:hover {
  transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s, border-color .35s;
  color: #ffffff;
  background-color: #111B47;
}

.landie {
  font-size: 26px;
  font-weight: 900;
  color: #37447E;
  text-decoration: none;
  margin-right: 25px;
}

.landie.landie-header {
  z-index: 99;
}

.landie:hover {
  transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s, border-color .35s;
  color: brown;
}

.section-heading {
  max-width: 600px;
}

.text-center.section-heading {
  text-align: center;
  padding: 0;
}

.header {
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
}

.fixed-position .header {
  background: rgb(255, 255, 255, 1);
}

.logo {
  position: relative;
  z-index: 99;
}

.intro-section .section-heading-text {
  font-size: 18px;
  padding-bottom: 56px;
}

.intro-section .section-heading p {
  padding-bottom: 15px;
}

.content-section {
  padding: 94px 0 94px;
}

.section-heading-text {
  padding-bottom: 31px;
}

.intro-section.content-section {
  position: relative;
  padding: 60px 0 0;
}

.intro-section .column-img {
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.content-information.content-information-revers .column-img {
  padding-left: 5px;
}

.column-information .column-text {
  font-size: 12px;
}

.column-information .information-img {
  padding-bottom: 15px;
}

.price-section .container {
  max-width: 640px;
}

.text-center.section-heading .section-heading-text {
  padding-bottom: 27px;
}

.price-section {
  position: relative;
  padding: 60px 0 0;
  background: #E7ECFF;
}

.price {
  padding-bottom: 53px;
}

.btn-inner-text {
  font-size: 14px;
  color: #5D6970;
}

.money {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #222F65;
  line-height: 1.3;
}

.footer {
  background: #e7f3ff;
  padding: 55px 0 0;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}

.footer-social {
  border-top: 1px solid #CDD1D4;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .nav-menu {
  min-width: 245px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  padding: 0;
}

.nav-menu li {
  padding: 0 10px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: #929ECC;
  font-size: 14px;
}

.nav-menu a:hover {
  transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s, border-color .35s;
  color: red;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.copyright {
  color: #939EA4;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.copyright-link {
  text-decoration: none;
  color: #939EA4
}

.copyright-link:hover {
  transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s, border-color .35s;
  color: red;
}

.social {
  margin: 0 -15px;
  padding: 0;
}

.social li {
  list-style: none;
  padding: 0 15px;
}

.social a {
  text-decoration: none;
  color: #B0B8BC;
}

.social a:hover {
  transition: color .35s cubic-bezier(.3, .86, .36, .95), background .35s, border-color .35s;
  color: blue;
  font-size: 30px;
}

.header .main-menu>.btn {
  display: none;
}

@media (min-width: 768px) {
  .header .main-nav {
    padding: 0;
  }

  .landie.landie-header {
    margin-right: 85px;
  }

  .main-drop .btn {
    display: none;
  }

  .main-drop .nav-menu {
    margin: 0 -30px;
  }

  .main-drop .nav-menu li {
    padding: 0 30px;
  }

  .header .main-menu>.btn {
    display: block;
  }

  .nav-opener {
    display: none;
  }

  .copyright-hold {
    order: 0;
  }

  .intro-section.content-section .column {
    width: 100%;
  }

  .intro-section .column-img {
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(0);
    width: 70%;
  }

  .column-information {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .content-information {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    align-items: center;
  }

  .content-information .column {
    width: 50%;
    padding: 0 10px;
  }

  .content-information.content-information-revers {
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }

  .content-information.content-information-revers .section-heading {
    padding: 0 0 40px 0;
  }

  .price-section {
    padding: 296px 0 175px 0;
    background: none;
  }

  .price-section-decor {
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .footer-social {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }

  .intro-section.content-section {
    padding: 21% 0 22.7%;
  }

  .intro-section.content-section .column {
    width: 50%;
  }

  .content-section .column-img.alt-indent {
    margin: 10px 0 30px 27px;
  }

  .content-section .column-img.small-indent {
    margin: 49px 0 0 41px;
  }

  .section-heading {
    padding: 35px 0 0px 96px;
  }
}

@media (min-width: 1280px) {
  .price-section-decor {
    top: 65px;
  }
}

@media (max-width: 767px) {
  .landie.landie-header {
    margin: 0;
  }

  .main-drop {
    transition: transform 0.3s ease-in-out, visibility 0.3s, opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    padding: 100px 15px;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }

  .nav-active .main-drop {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  .header .nav-menu {
    display: block;
    margin: 0 0 50px;
  }

  .header-drop {
    transition: opacity .35s cubic-bezier(.3, .86, .36, .95), visibility .35s;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: midnightblue;
    padding: 60px 30px;
    opacity: 0;
    visibility: hidden;
  }

  .header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-active .header-drop {
    opacity: 1;
    visibility: visible;
  }

  .main-menu li {
    margin: 0 0 10px;
  }

  .main-nav {
    text-align: center;
    padding: 0;
  }

  .btn-holder-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    margin: 0 16px 0 16px
  }

  .nav-opener {
    transition: background .35s cubic-bezier(.3, .86, .36, .95), margin .35s cubic-bezier(.3, .86, .36, .95);
    display: inline-block;
    position: relative;
    width: 27px;
    height: 27px;
    color: #091133;
    text-indent: -9999px;
    z-index: 99;
  }

  .nav-opener:after,
  .nav-opener:before,
  .nav-opener span {
    transition: background .3s ease-in-out, transform .3s ease-in-out, top .25s ease-in-out .3s;
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    background: #091133;
  }

  .nav-opener:after {
    top: 0;
  }

  .nav-opener span {
    transition: opacity .35s cubic-bezier(.3, .86, .36, .95), background .35s cubic-bezier(.3, .86, .36, .95);
    top: 12px;
  }

  .nav-opener:before {
    top: 23px;
  }

  .nav-active .nav-opener span {
    opacity: 0;
  }

  .nav-active .nav-opener:before,
  .nav-active .nav-opener:after {
    top: 12px;
    transition: background .3s ease-in-out, top .25s, transform .3s ease .3s;
  }

  .nav-active .nav-opener:before {
    transition: background .3s ease-in-out, top .25s, transform .3s ease .3s, width .3s ease .3s;
    transform: rotateZ(45deg) scale(1.05);
  }

  .nav-active .nav-opener:after {
    transform: rotateZ(-45deg) scale(1.05);
  }

  .img-decor {
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(0, -50%);
    opacity: 0.3;
  }

  .copyright-hold {
    text-align: center;
    order: 2;
    width: 100%;
  }
}
